 @font-face {
  font-family: test;
  src: url(./7M4A4327.ttf);
 }
 
 body{
  overflow-x: hidden;
  margin: 0;
  font-family: test, sans-serif;
 }

 .nav{
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: right;
  width: 78%;
  margin-left: 0%;
  background-color: #ffffff;

  
 }
 
 /* Split the screen in half */
.split {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* Control the left side */
.left {
  width: 80%;
  overflow-y: auto;
  background-color: #ffffff;
}

.folder{
  width: 100%;
  height: auto;
  /* min-height: 300vh; */
  margin: auto;
  display: block;
  /* background-image: url(Artboard1.webp);
  background-size: 125%; */
}

.folder img{
  width: 90%;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 50px;
}

/* .left h1{

} */

.left h3{
margin-left: 650px;
margin-top: 150px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:18px;
}

/* Control the right side */
.right {
  width: 20%;
  overflow-y: auto;
  /* background-color: rgba(19, 59, 25, 0.238); */
  position: relative;
  padding-top: 40px;
}


.right a{
  height: 200px;
  width: 100%;
  position: relative;
  display: block;
  background-image: url(./Maps/Artboard\ 2.png);
  background-size: 100%;
  margin-top: -40px;
}

.right a img{
   width: 90%;
   height: 142px;
   margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 40%;
} 